body {
    margin: 0, auto;
}
form {
    display: none;
}
.container {
    width: 100%;
    height: 100%;
}
.button {
    margin: 25px 0;
    padding: 15px;
    border-radius: 5px;
    border: 3px solid cadetblue;
    background-color: lightblue;
    font-weight: bold;
}
.circle {
    /* width: 10px;
    height: 10px; */
    border-radius: 50%;
    border: 1px solid;
}
.circle-container {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}